<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie</title>
    <link rel="stylesheet" href="//beta.adalab.es/resources/stylesheets/all.css">
    <link rel="stylesheet" href="../src/public-css/main.css">
</head>

<body>
    <section class="card">
        <img class="card__img" src='<%= image %>' alt="Carátula de <%= title %>"/>
        <h3 class="card__title">
            <%= title %>
        </h3>
        <p class="card__description">Género: <%= genre %>
        </p>
    </section>
</body>
</html>